<!-- notice: 'Book was successfully created.' -->
<p>
	<strong>Title</strong>
	<%= @list.title %>
</p>

<p>
	<strong>Body</strong>
	<%= @list.body %>
</p>

<p class="space">
<a><%= link_to "Edit", edit_booklist_path %></a>
&thinsp;|&thinsp;
<a><%= link_to "Back", booklists_path %></a>
</p>