<!-- 成功した場合 Succesfully の文字を出す -->
<h1>Books</h1>

	<p>
		<strong>Title</strong>
		<%= @list.title %>
	</p>

	<p>
		<strong>Body</strong>
		<%= @list.body %>
	</p>

	<br>
	<%= link_to "Edit", booklists_path %>