<h1></h1>
<div class="background">
	<div class="main">
		<div class="img">
			<%= image_tag('fitness.svg', style:'width: 500px;') %>
		</div>
		<div class="login-container">
			<form style="width: 360px; margin: 0 auto;">
				<%= image_tag('avatar.svg', style: 'width: 100px;') %>
				<h2>Welcome</h2>
				<p>If you already joined us please fill in the blank</p>

					<div class="input-div one">
						<div class="i">
							<i class="fas fa-user"></i>
						</div>
						<div>
							<h5>Username</h5>
							<input class="input" type="text">
						</div>
					</div>

					<div class="input-div two">
						<div class="i">
							<i class="fas fa-lock"></i>
						</div>
						<div>
							<h5>Password</h5>
							<input class="input" type="password">
						</div>
					</div>
					<a href="#">Forgot Password?</a>
					<div>
						<div class="btn">
						<%= link_to 'Login', new_user_path, class:"sign" %>
						<p>OR</p>
						<%= link_to 'Signin', new_user_registration_path, class:"sign" %>
						</div>
					</div>
			</form>
		</div>
		<script type="text/javascript" src="application.js"></script>
	</div>
</div>