<!-- Page of /users 全user一覧 -->
<!-- done it -->

<%= render 'users/list', book: @book_new %>

	<div class="col-lg-9">
		<h2>Users</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>image</th>
					<th>name</th>
					<th></th>
				</tr>
			</thead>
			<% @users.each do |user| %>
			<tbody>
				<tr style="background-color: #fff;">
					<th class="block-image">
						<%= image_tag('sample1.jpg', class:"img-square pull-left profile-img", style: "width: 40px; height: 40px;") %>
					</th>
					<th class="name">
						<%= user.name %>
					</th>
					<th class="show">
						<%= link_to "show", user_path(user.id) %>
					</th>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>
