<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<h1>User Info</h1>
			<p>name</p>
			<p>introduction</p>
			<h1>New Book</h1>
			<p>title</p>
			<p>opinion</p>
			<%= f.submit "Create Book" %>
		</div>
	</div>
</div>
