<% render 'books/list', books: @books %>

<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h1>Books</h1>
			<p>profile image</p>
			<p>title</p>
			<p>opinion</p>
		</div>
	</div>
</div>
