<!-- Page of /books 全ユーザーの投稿一覧　-->

<%= render 'users/list', book: @book %>

<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h1>Books</h1>
			<h1>INDEX</h1>
			<p>profile image</p>
			<p>title</p>
			<p>opinion</p>
		</div>
	</div>
</div>
